.flexContainer{
    background-color:yellow;
    display: flex;
    height: 100vh;
    border: 3px solid;
    position: center;
    align-items: center;  // to aling the itme to the center of the page
    /*justify-content: flex-end ;*/
    /*justify-content: center ;*/
    justify-content: space-evenly;
    /*justify-content: space-between;*/
    /*justify-content: space-around;*/
    /*justify-content: flex-end;*/
   align-content: center;

}
.flex-item1{
    background-color: aqua;
    border: 3px solid;
    height: 50vh;
    width: 50%;
}
.flex-item2{
    background-color: black;
    min-height: 100%;
    border: 3px solid;
}
.flex-item3{
    background-color: blue;
    min-height: 100%;
    border: 3px solid;

}